#mainbox {
  min-height: 100%;
  margin: 0 auto;
  background-color: palegoldenrod;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#timedisplaybox {
  min-height: 60vh;
}

#refreshbox {
  min-height: 40vh;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#refreshbutton {
  font-size: 3rem;
  margin: 0 auto;
  height: 100%;
  min-height: 5%;
  background-color: transparent;
  border: 3px solid lightseagreen;
  border-radius: 5px;
  color: lightseagreen;
  font-weight: bold;
  width: 40%;
}

#refreshbutton:hover {
  cursor: pointer;
  color: palegoldenrod;
  background-color: lightseagreen;
}

#didsbox {
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
